@tailwind base;

@tailwind components;

@tailwind utilities;

html
    min-width: 270px
    max-width: 100vw
    overflow-x: hidden
    font-family: 'Open Sans', sans-serif;

@variants responsive {

  .justify-items-center {
    justify-items: center;
  }  

  .justify-self-end {
    justify-self: end
  }
}



.image > :first-child 
  flex-grow: 1

.image--right 
  left: calc(50%);
  position: relative
